 .coaching-area .container img {
    width: 50%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.coaching-area .container .card {

    padding: 1.5em .5em .5em;
    border-radius: 1em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.coaching-area .container .card:hover{
    
    transform:translate(0px,-10px);
    transition-duration: 1s,3s;
   

    
}